body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.brand-logo-img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.btn {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
